<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.mapper.TChinaCityMapper">

   <select id="findProvinceList" resultType="com.qy.po.TChinaCity" parameterType="java.lang.Integer">
    
     select * from t_china_city where iParentid = #{id,jdbcType=INTEGER}
     
   </select>

</mapper>